@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}


h1{
  font-size: 50px;
  font-weight: 600;
  color: #6f52ef;
  text-align: center;
  text-shadow: 3px 3px 5px;

}
h2{
  font-size: 50px;
  font-weight: 600;
  color:black;
  text-align: center;
  text-shadow: 3px 3px 5px;

}